<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Yo</title>
</head>

<body>
    <h1> Summer 2026 Cohort </h1>

        <div class="student-container">
        <div>
            <img src="static/img/leslyy.jpg">
        </div>
        <div class="student-name"> Lesly Villanueva </div>
        <div> School: CSU Monterey Bay </div>
        <p> What excites me most about the CodeDay Labs internship is the chance to challenge myself and grow my technical experience and my ability to collaborate effectively with others.
        </p>
        <a href="">Team: N/A </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/maor.jpg">
        </div>
        <div class="student-name"> Maor Barzilay </div>
        <div> School: CSU Long Beach </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is being able to broaden my technical and people skills hands-on
        </p>
        <a href="teamMMME">Team: MMMA </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/DestinyV.jpeg">
        </div>
        <div class="student-name"> Destiny Veloz </div>
        <div> School: College of the Desert </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning new skills.
        </p>
        <a href="/DestinyV_KyleP_OscarA">Team: Kyle, Oscar, and Destiny! </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/kyle_parker.jpg">
        </div>
        <div class="student-name"> Kyle Parker </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning how to properly and effectively contribute
             to an open source project.
        </p>
        <a href="/DestinyV_KyleP_OscarA">Team: Kyle, Oscar, and Destiny! </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/oscar_avil.jpeg">
        </div>
        <div class="student-name"> Oscar Aviles-Saldana </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I am most looking foward to in the CodeDay labs micro-internship is gaining experience working with a team environment
             and contributing to an open source project to help improve my skills as a developer.
        </p>
        <a href="/DestinyV_KyleP_OscarA">Team: Kyle, Oscar, and Destiny! </a>
    </div>
    
    <div class="student-container">
        <div>
            <img src="static/img/jociel.jpeg">
        </div>
        <div class="student-name"> jociel osorio </div>
        <div> School: Gavilan  </div>
        <p> What I'm most looking forward to is getting an internship and I like to play marvel rivals 
        </p>
        <a href="">Team: N/A </a>
    </div>

    <div class="student-container">
        <div>
            <img src="../static/img/tony_n.png">
        </div>
        <div class="student-name"> Tony Hoang Nguyen </div>
        <div> School: Orange Coast College </div>
        <p> What I'm looking most forward to about the CodeDay Labs internship is to learn hands on from an experienced mentor and meet people who are like-minded.
        </p>
        <a href="teams/tony_josue_ruben_demi.html">Team: Tony, Josue, Ruben, Demi </a>
    </div>


    <div class="student-container">
        <div>
            <img src="../static/img/josue_Cr.jpeg">
        </div>
        
        <div class="student-name"> Josue Cruz </div>
        <div> School: San Francisco State University </div>
        <p>What I'm looking forward to about the CodeDay Labs internship is to create more connections and
            deepen my understanding of open source projects. 
        </p>
        <a href="teams/tony_josue_ruben_demi.html">Team: Tony, Josue, Ruben, Demi</a>
    </div>
    <div class="student-container">
        <div>
            <img src="../static/img/moons_pic.png">
        </div>
        
        <div class="student-name"> Ruben Rivera </div>
        <div> School: Cal State Monterey Bay </div>
        <p> What I'm looking forward to about the CodeDay Labs internship is gaining real world experience and building my resume and connections.
        </p>
        <a href="teams/tony_josue_ruben_demi.html">Team: Tony, Josue, Ruben, Demi</a>

  </div>
    <div class="student-container">
        <div>
            <img src="static/img/jahni.jpg">
        </div>
        <div class="student-name"> Jahnifah Johnson </div>
        <div> School: CSU Fullerton </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is being able to broaden my technical and people skills hands-on
        </p>
        <a href="">Team: N/A </a>
    </div>
        <div class="student-container">
        <div>
            <img src="static/img/milon.jpg">
        </div>
        <div class="student-name"> Milo Neumann </div>
        <div> School: San Francisco State University </div>
        <p> 
            I'm looking forward to working on a team in a programming setting!
        </p>
        <a href="">Team: N/A </a>
    </div>

    <div class="student-container">
        <div>
            <img src="../static/img/Demi_C.jpg">
        </div>
        
        <div class="student-name"> Demi (Ziqi) Chen </div>
        <div> School: Cal State Fullerton </div>
        <p> What I'm looking forward to about the CodeDay Labs internship is contributing to open source projects and gaining more connections by working with my team.
        </p>
        <a href="teams/tony_josue_ruben_demi.html">Team: Tony, Josue, Ruben, Demi</a>
    </div>
    
    <div class="student-container">
        <div>
            <img src="static/img/AnthonyR_pic.PNG">
        </div>
        <div class="student-name"> Anthony RodriguezAlmazan </div>
        <div> School: San Francisco State University </div>
        <p>What I'm most looking forward to about CodeDay Labs internship is improving my programming skills and working with others.
        </p>
        <a href="">Team: </a>
    </div> 
    
    <div class="student-container">
        <div>
            <img src="static/img/luSteven01.jpg">
        </div>
        <div class="student-name"> Steven Lu </div>
        <div> School: San Jose State University </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is to improve my coding skills and make connections with other people in the industry.
        </p>
        <a href="">Team: N/A </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/Diego_S.png">
        </div>
        <div class="student-name"> Diego Salvaleon </div>
        <div> School: CSU Dominuez Hills </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is getting my hands on some internship work
        </p>
        <a href="">Team: N/A </a>
    </div>

  <div class="student-container">
        <div>
            <img src="static/img/Rubin.jpg"
        </div>
        <div class="student-name"> Rubin Adler </div>
        <div> School: Yeshiva University </div>
        <p>What I'm most looking forward to about CodeDay Labs internship is contributing to open source and refining my skills.git
        </p>
        <a href="">Team: </a>
    </div> 

    <div class="student-container">
        <div>
            <img src="../static/img/austin_picture.jpg">
        </div>
        <div class="student-name"> Austin Phipps </div>
        <div> School: Cal State Monterey Bay </div>
        <p>What I'm most looking forward to about CodeDay Labs internship is gaining real work experience
        <a href="">Team: </a>
    </div> 
  
    <div class="student-container">

        <div>
            <img src="../static/img/ang_pic.jpg">
        </div>
        <div class="student-name"> Angelie Bautista </div>
        <div> School: SFSU </div>
        <p> What I'm looking most forward to about the CodeDay Labs internship is meeting more peers and deepening my understanding of programming.
        </p>
        <a href="">Team:</a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/SimranKaur.jpg">
        </div>
        <div class="student-name"> Simran Kaur </div>
        <div> School: University of California, Santa Cruz </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning more about front-end and how to collaborate on larger scale software projects.
        </p>
        <a href="teamMMME">Team: N/A </a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/Wootark_Image.jpg">
        </div>
        <div class="student-name"> Wootark Kim </div>
        <div> School: CSUMB </div>
        <p> I am looking forward to learn how to properly contribute to an open-source environment!
        </p>
        <a href="woo_jos">Team: Wootark Kim, Josue Nava - Jimenez</a>
        </div>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/JosueNava.jpg">
        </div>
        <div class="student-name"> Josue Nava - Jimenez </div>
        <div> School: CSUMB</div>
        <p> I look forward to working with my teammate and mentor to learn more about open-source contributing.
        </p>
        <a href="woo_jos">Wootark Kim, Josue Nava - Jimenez</a>
    </div>

</body>

</html>